.react-calendar-heatmap .color-scale-0 {
  fill: #b8c8ae;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #1e6823;
}
